# rename this file to .env (with the leading dot) and place it next to docker-compose.yml
BOT_TOKEN=123456789:AAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
DB_HOST=db
DB_NAME=fasteng
DB_USER=postgres
DB_PASS=postgres
ADMIN_ID=1111111111,2222222222,3333333333
PGADMIN_USER=admin@admin.com
PGADMIN_PASSWORD=4RIDDLE7MISCHANCE4opaqueness1
