# rename this file to .env (with the leading dot) and place it next to docker-compose.yml
BOT_TOKEN=5155672685:AAE5uGXTZgNrsy7oGCqD8ij92D8kLqCEnCg
DB_HOST=db
DB_NAME=fasteng
DB_USER=postgres
DB_PASS=postgres
ADMIN_ID=1304264311
DEBUG=1
WEBHOOK_DOMAIN="https://bot.lowless.tk"

APP_HOST=bot2
APP_PORT=3000
PROJECT_TAG=ytbot